@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

html {
    font-size: 100%;
}

:root {
    /* grey */
    --grey-50: #F9FAFB;
    --grey-100: #F3F4F6;
    --grey-200: #E5E7EB;
    --grey-300: #D1D5DB;
    --grey-400: #9CA3AF;
    --grey-500: #6B7280;
    --grey-600: #4B5563;
    --grey-700: #374151;
    --grey-800: #1F2937;
    --grey-900: #111827;

    --black: #000;
    --white: #fff;
    --green: #22C55E;
    --red: #EF4444;

    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);


    /* fonts */
    --headingFont: 'Lato', sans-serif;
    --bodyFont: 'Roboto', sans-serif;
    --smallText: 0.8em;

    --borderRadius: 0.325rem;
    --letterSpacing: 1px;
    --transition: all 0.3s ease-in-out;
    --max-width: 1400px;
    --fixed-width: 840px;
    --border: 1px solid var(--grey-400);

    /* box-shadows */
    --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
    height: 100vh;
}

p {
    margin: 0;
    margin-bottom: 1rem;
    max-width: 40em;
    font-size: .9rem;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    margin: 0;
    margin-bottom: 1rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}

h1 {
margin-top: 0;
font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .9rem;
}

small, 
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img,
picture,
.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}


/* reusable clases */
.container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
}

.section-center {
    max-width: var(--fixed-width);
    width: var(--fixed-width);
    height: min-content;
    margin-inline: auto;
}

.section-title {
    font-weight: 700;
    letter-spacing: var(--letterSpacing);
    line-height: 1;
    margin-bottom: .8rem;
}

.btn {
    cursor: pointer;
    color: var(--grey-700);
    background: var(--white);
    border: var(--border);
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    width: 2.3rem;
    aspect-ratio: 1;
    padding: .325rem;
    font-size: .8rem;
    text-transform: capitalize;
    display: inline-block;
}

.btn > a {
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--grey-100);
}

.btn.active {
    background-color: var(--grey-300);
}

.btn-container {
    display: flex;
    min-width: 2.3rem;
    /* max-width: 2.3rem; */
    aspect-ratio: 1;
    overflow: hidden;
}

.btn[aria-selected=false] {
    display: none;
}

.btn-regular {
    width: 5.5rem;
    height: 2.3rem;
    color: var(--white);
    border: none;
    box-shadow: var(--shadow-2);
    font-weight: 600;
}

.btn-regular[aria-label=success] {
    background-color: var(--green);
}

.btn-regular[aria-label=danger] {
    background-color: var(--red);
}

.btn-regular:hover {
    opacity: .8;
}

.card {
    border: var(--border);
    border-radius: var(--borderRadius);
    padding: 1rem;
    box-shadow: var(--shadow-2);
}

.card:hover {
    box-shadow: var(--shadow-3);
}

.card:hover .card-title,
.card:hover > i{
    opacity: .7;
}

.icon {
    width: 4rem;
    height: 4rem;
}

/* Navbar */
.header {
    position: relative;
    height: 3rem;
}

nav {
    position: fixed;
    inset: 0 0 0;
    background-color: var(--grey-200);
    height: 3rem;
    z-index: 999;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: var(--border);
    padding-inline: .5rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu-item {
    background-color: var(--white);
    color: var(--grey-700);
    border: var(--border);
    width: 8rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .9rem;
}

.menu-item:not(:last-child){
    border-right: none;
}

.menu-item:nth-of-type(1){
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.menu-item:nth-of-type(3){
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.menu-item[aria-selected=true] {
    background-color: var(--grey-300);
}

.menu-item:hover:not([aria-selected=true]) {
    background-color: var(--grey-100);
}

/* search-bar */
.search-bar {
    position: fixed;
    inset: 3rem 0 0;
    background-color: var(--grey-200);
    height: 3rem;
    border-bottom: var(--border);
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
}

.show-search-bar {
    transform: translateY(0);
}

.serch-content {
    width: 35rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.form-label {
    height: 2.3rem;
    padding: .375rem .8rem;
    font-size: .8rem;
    background-color: var(--white);
    border: var(--border);
    border-right: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.form-input {
    flex: 1;
    height: 2.3rem;
    background-color: var(--white);
    border: var(--border);
    border-left: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.toggle-menu {
    position: fixed;
    width: 9rem;
    top: 3.5rem;
    right: .5rem;
    padding: .75rem;
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--shadow-4);
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 99;
    transition: transform 200ms ease-in-out;
}

.show-toggle-menu {
    transform: scaleY(1);
}

.list {
    color: var(--grey-700);
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.list-item {
    padding: .1rem .4rem;
    text-transform: capitalize;
    border-radius: .4rem;
}

.list-item:nth-of-type(2) {
    color: var(--grey-400);
}

.list-item:nth-of-type(2) > a {
    cursor: default;
}

.list-item:hover:not(:nth-of-type(2)) {
    background-color: var(--grey-300);
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: transparent;
    z-index: -999;
    display: none;
}

.menu-overlay.active {
    display: block;
    z-index: 80;
}


/* showcase */
.showcase {
    position: relative;
    height: 28vh;
    padding-block: 1rem;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.showcase.push-down {
    margin-top: 3rem;
}

.slider {
    width: 500vw;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.slider-item {
    width: 100vw;
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-item > h3 {
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
}

.slider-item:nth-of-type(1) {
    background-image: url('../images/slider-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider-item:nth-of-type(2) {
    background-image: url('../images/slider-image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.slider-item:nth-of-type(3) {
    background-image: url('../images/slider-image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider-item:nth-of-type(4) {
    background-image: url('../images/slider-image4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider-item:nth-of-type(5) {
    background-image: url('../images/slider-image5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.prev-btn {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
}

.next-btn {
    position: absolute;
    right: -.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prev-btn,
.next-btn {
    background: transparent;
    border: none;
    color: var(--white);
    height: 3rem;
    opacity: 0.9;
    font-size: 1.2rem;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: var(--grey-900);
}

.pagination {
    position: absolute;
    bottom: 1.2rem;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.dot {
    width: .6rem;
    height: .6rem;
    border: 2px solid var(--white);
    border-radius: 50%;
}

.dot[aria-selected=true] {
    background-color: var(--white);
}

/* editors picks */
.apps {
    width: 100%;
    height: 22vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app .title {
    font-weight: 600;
    margin-block: .3rem;
}

.app .ratings {
    display: flex;
    gap: .4rem;
}

.app .ratings > i {
    font-size: .7rem;
}

.app > i {
    position: absolute;
    top: .4rem;
    right: .4rem;
    font-size: .8rem;
    color: var(--green);
}

.app > i[aria-checked=false] {
    display: none;
}

@media (max-width: 1200px){
    .apps {
        grid-template-columns: repeat(7, 1fr);
    }

    .app:nth-of-type(8) {
        display: none;
    }
}

@media (max-width: 1100px){
    .apps {
        grid-template-columns: repeat(6, 1fr);
    }

    .app:nth-of-type(8),
    .app:nth-of-type(7) {
        display: none;
    }
}

@media (max-width: 900px){
    .apps {
        grid-template-columns: repeat(5, 1fr);
    }

    .app:nth-of-type(8),
    .app:nth-of-type(7),
    .app:nth-of-type(6) {
        display: none;
    }
}

@media (max-width: 720px){
    .apps {
        grid-template-columns: repeat(4, 1fr);
    }

    .app:nth-of-type(8),
    .app:nth-of-type(7),
    .app:nth-of-type(6),
    .app:nth-of-type(5){
        display: none;
    }
}

@media (max-width: 600px){
    .apps {
        grid-template-columns: repeat(3, 1fr);
    }

    .app:nth-of-type(8),
    .app:nth-of-type(7),
    .app:nth-of-type(6),
    .app:nth-of-type(5),
    .app:nth-of-type(4){
        display: none;
    }
}

/* categories */
.cat-container {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.category {
    width: 100%;
    height: 2.75rem;
    padding: .375rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
}

.category > i {
    font-size: 1rem;
}

.category .title {
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

@media (max-width: 760px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Installed styles */
.app-container {
    width: 100%;
}

.single-app {
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 6rem 10rem 1fr 7rem;
    background-color: var(--white);
    border-bottom: var(--border);
}

.single-app .logo {
    height: 100%;
    display: grid;
    place-items: center;
}

.single-app .title {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

.single-app .title > h5 {
    font-weight: 600;
    margin: 0;
}

.single-app .snippet {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

.single-app .snippet > p {
    margin: 0;
}

.single-app .rm-btn {
    height: 100%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-app .rm-btn > span {
    font-size: .8rem;
    color: var(--grey-700);
}

/* updates */
.up-to-date {
    position: fixed;
    inset: 3rem 0 0 0;
    display: grid;
    place-items: center;
}

.up-to-date[aria-selected=false] {
    display: none;
}

.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey-500);
}

.up-to-date .content h1 {
    font-size: 10rem;
    margin: 0;
    line-height: 1;
}

.up-to-date .content > p {
    position: absolute;
    bottom: 1rem;
    margin: 0;
}

.refresh-animation {
    position: fixed;
    inset: 3rem 0 0 0;
    display: grid;
    place-items: center;
}

.refresh-animation[aria-selected = false] {
    display: none;
}

.content .refresh {
    padding: .5rem;
    animation: spinner 800ms linear infinite;
}

.content .refresh > i {
    font-size: 3rem;
}

.content > h4 {
    margin-bottom: .2rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}